[submodule "extern/Catch2"]
path = extern/Catch2
url = https://github.com/catchorg/Catch2.git
[submodule "extern/concurrentqueue"]
	path = extern/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark.git
[submodule "extern/dlpack"]
	path = extern/dlpack
	url = https://github.com/dmlc/dlpack.git
